[Unit]
Description=Grow root partition and filesystem to fill the underlying disk
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/growroot

[Install]
WantedBy=multi-user.target
